body {
  background-image: url(../images/bg.jpg);
}
/* .logo img {
  width: 10rem;
  margin: 2em 5em;
} */
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: white;
}
p {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  color: white;
  margin-top: 1%;
}

#stars {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

#stars div {
  margin: 0.4em;
  justify-content: center;
}

#stars div img {
  margin: 1px;
  justify-content: center;
  display: flex;
}
.star-not-filled {
  filter: grayscale(100%);
  opacity: 20%;
}


p #feedback {
  font-size: 1em;
  color: white;
  margin-top: 5%;
}
form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #d20094;
  margin-top: 3%;
  display: block;
  background-color: transparent;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
button {
  /* background-color: #00ffff;
  border: none; */
  margin-top: 3em;
}
a {
  color: rgb(1, 1, 41);
  text-decoration: none;
}

form {
  text-align: center;
}

input {
  outline: none;
  padding: 1em;
}
