body {
  background-image: url("/assets/images/bg.jpg");
}

h1{
  text-align: center;
  
}
#titolo{
  padding-bottom: 2.5em;
}

p {
  color: white;
  margin-top: 98px;
  margin-left: 676px;
  
}

.button {
  width: 90%;
  text-align: center;
  
}

.option {
  display: inline-block;
  
    width: 9em;
    margin: 65px;
    margin-top: -9px;
}

.tasto {
  background-image: url("../images/bg.jpg");
  
  color: white;
  border-radius: 2em;
  height: 5em;
  font-weight: bolder;
  margin: -7%;
  width: 170%;
  padding: 20%
  
}

span{
  color: rgb(183, 29, 207);
}

.procedi{
  background-image: url("../images/bg.jpg");
  color: white;
  
  margin-right: 40px;
  margin-left: 798px;
  width: 10%;
  height:  4em;
}
