body {
  background-image: url("/assets/images/bg.jpg");
}

h1{
  text-align: center;
  
}
#titolo{
  padding-bottom: 2.5em;
}

p {
  color: white;
  margin-top: 135px;
  margin-left: 730px;
}

.button {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.option {
  display: inline-block;
  
    width: 9em;
    margin: 65px;
    margin-top: -9px;
}

button {
  background-image: url("../images/bg.jpg");
  
  color: white;
  border-radius: 2em;
  height: 5em;
  font-weight: bolder;
  margin: -7%;
  width: 170%;
  padding: 20%
  
}
