.timer {
  display: flex;
  height: 5rem;
  margin-right: -20%;
  justify-content: end;
  text-align: center;
  position: relative;
}
.outterTimer {
  height: 1rem;
  width: 90%;
  border-radius: 50%;
}
.innerTimer {
  border-radius: 50%;
  right: 0;
  text-align: right;
}
.seconds {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-top: -30px;
  margin-right: -198px;
}
.tempo {
  font-size: 30px;
  margin: 0;
  margin-right: -193px;
}

.remaining {
  font-size: 10px;
  margin: 0;
  margin-right: -202px;
}
.timer svg {
  position: absolute;

  top: -5rem;
  /* right: 0; */
  margin-right: -328px;
  margin-top: -78px;
}
.timer1 {
  fill: none;
  stroke: #ebeded46;
  stroke-width: 8px;
  stroke-dasharray: 565;
}

.timer2 {
  fill: none;
  stroke: #00ffff;
  stroke-width: 0.7em; /*10px*/
  stroke-dasharray: 324, 500;
  stroke-dashoffset: 0;
  animation: anim2 10s linear forwards;
}
@keyframes anim2 {
  100% {
    stroke-dashoffset: 324;
  }
}

.donat {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2.5vmin solid transparent;
}
.outer-circle {
  width: 5em;
  height: 5em;
  background: linear-gradient(rgb(41, 1, 67), rgb(58, 1, 76)) content-box
      no-repeat,
    conic-gradient(
        rgb(77, 77, 77) var(--outer_percent_deg, 0%),
        0,
        #00ffff 100%
      )
      border-box;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-timer {
  font-size: 3vh;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
}

.clock-time:before {
  content: var(--timer-minutes-seconds, "60");
}

#seconds {
  position: absolute;
  padding-top: 3em;
  margin-left: 2.5em;
  margin-right: 2.6em;
  z-index: 1;
  font-size: 0.7em;
  color: white;
  font-family: "Inter", sans-serif;
}

#remaining {
  position: absolute;
  z-index: 2;
  margin-top: 6em;
  padding-top: 0.3em;
  margin-right: 2.4em;
  font-size: 0.7em;
  color: white;
  font-family: "Inter", sans-serif;
}
